/* .c_banner
-------------------------------------------------------------*/
$r: ".c_banner";

// block
//-----------------------------------------------------------
#{$r} {
  display: grid;
  margin-inline: -1.5rem;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}
